input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dataTables_filter {
    margin-bottom: 1%;
    margin-top:-4%;
    margin-right:1%;
}
.gap{
    padding-left:100px;
}
.dataTables_length {
    margin-top: 8px;
    margin-left: 25px;
}
.dataTables_scrollBody {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.blue{
    color:black;
}
.Yellow
{
    color:darkgoldenrod;
}
.Red{
    color:red;
}
.dt-buttons{
    display:none;
}
.space {
    margin-left:5%;
    margin-right: 5%;
}

.print {
    margin-left:35px !important;
    margin-top:5px;
    background-size:5px !important;
}
.print:hover,.print:active{
    color:whitesmoke !important;
}

    .dropdown-toggle{
        margin-top:5px;
        margin-left:-5px !important;
    }
        .dropdown-toggle:hover, .dropdown-toggle:active {
            color: whitesmoke !important;
        }
.dropdown-menu {
    min-width: 136px !important;
    margin-left:85px !important;
}
.pdf {
    cursor: pointer;
}
.excel {
    cursor: pointer;
}
.glyphicon-plus-sign {
    color: green;
}

.glyphicon-minus-sign {
    color: red;
}