
    <iframe name="pdf_frame" src="~/PdfViewer/report.pdf" style="height:450px;width:100%" frameborder="1"></iframe>
    <div class="modal-footer" style="padding-right:28px">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>