

<iframe name="pdf_frames" class="table-responsive" src="https://localhost:44347/PdfViewer/employee.pdf#view=fitH" type="application/pdf" width="100%" height="300"></iframe>
<div class="modal-footer" style="padding-right:28px">

    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
