
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .backcolour table thead tr {
        background-color: white;
        color: black;
        font-display: block;
    }

    body {
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
    }

    #hms {
        padding-top: 1px;
        padding-left: 60px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: xx-large;
        font-weight: 700;
    }

    h3 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    function format(res) {
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Created By:</td>' +
            '<td>' + res.CreatedName + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Created Date:</td>' +
            '<td>' + res.CreatedDate + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Modified By:</td>' +
            '<td>' + res.ModifiedName + '</td>' +
            '</tr>' +
            '<td>Modified Date:</td>' +
            '<td>' + res.ModifiedDate + '</td>'
        '</table>';
    }
    var dataTable;
    $(document).ready(function () {
        dataTable = $('#myTable').DataTable(
            {
                "processing": true,
                "serverSide": true,
                "filter": true,
                "order": [[1, "desc"]],
                "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',
                buttons: [
                    {
                        extend: 'excel',
                        title: "Hospital Management System",
                        autoFilter: true,
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6,7,8]
                        }
                    }
                ],
                "scrollY": "380px",
                /*  "scrollX": "380px",*/
                "scrollCollapse": false,
                responsive: {
                    details: {
                        type: 'column',
                        target:'tr'
                    }
                },
                "columnDefs": [
                    {
                        className: 'dtr-control',
                        orderable: false,
                        targets: 0
                    },
                    { "targets": [2, 3, 4, 5], className: 'dt-head-center dt-body-center' },
                    {
                        'targets': [5],
                        'orderable': false,
                    }],




                "ajax": {
                    "url": "/Patients/GetEmployeeDetails",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": null,
                        "width": "1%",
                        "defaultContent": '<i onclick="myFunction(this)" class = "glyphicon glyphicon-plus-sign"> </ i>',
                    },
                    {
                        "data": "Name",
                        "name": "Name",
                        "width": "8%",


                    },
                    {
                        "data": "Designation",
                        "name": "Designation",
                        "width": "3%",

                    },
                    {
                        "data": "Email",
                        "name": "Email",
                        "width": "8%",

                    },
                    {
                        "data": "ContactNo",
                        "name": "ContactNo",
                        "width": "8%",

                    },
                    //{
                    //    "data": "CreatedBy",
                    //    "name": "CreatedBy",
                    //    "width": "18%",

                    //},
                    //{
                    //    "data": "CreatedDate",
                    //    "name": "CreatedDate",
                    //    "width": "10%",

                    //},
                    //{
                    //    "data": "ModifiedBy",
                    //    "name": "ModifiedBy",
                    //    "width": "15%",
                    //},
                    //{
                    //    "data": "ModifiedDate",
                    //    "name": "ModifiedDate",
                    //    "width": "15%",
                    //},
                    {
                        "data": "Id",
                        "width": "8%",
                        "render": function (data, type, full, meta) {

                            return '<a class="blue" title="View" onclick="viewemployee(' + full.Id + ')" ><span class="glyphicon glyphicon-eye-open"></span></a> <a class="Yellow space" title="Edit" onclick="viewEditemployee(' + full.Id + ')"><span class="glyphicon glyphicon-pencil"></span></a>  <a class="Red" title="Delete" onclick="viewdeleteemployee(' + full.Id + ')"><span class="glyphicon glyphicon-trash"></span></a>';
                        }
                    },
                ]
            });
        $('#myTable tbody').on('click', 'td.dtr-control', function () {
            var tr = $(this).closest('tr');
            var row = dataTable.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
    $(document).on('click', '#excels', function () {
        var info = dataTable.page.info();
        pageLength = info.length;
        dataTable.page.len(info.recordsTotal).draw();
        setTimeout(excel, 1000);
        //$.get("/Patients/Print/excel", function (res) {
        //    console.log(res);
        //});
    });
    function excel() {
        $(".buttons-excel")[0].click();
        current();
    }
    function current() {
        dataTable.page.len(pageLength).draw();
    }
    $(document).on('click', '#pdfs', function () {
        $.get("/Patients/Prints", function (res) {
            $("#printbody").html(res);
            $('#printmodal').modal('show');
        });
    })

    function printDivs() {
        $.get("/Patients/Prints", function (res) {
            $("#printbody").html(res);
            $('#printmodal').modal('show');
            window.frames["pdf_frames"].window.focus();
            window.frames["pdf_frames"].window.print();
        });
    }
    function myFunction(x) {
        x.classList.toggle("glyphicon-minus-sign");
    }

</script>
<p>
    <div style="padding-left:0rem">
        <div style="padding-bottom:-10rem">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registeremployee"
                    onclick="registermodal()">
                Register New Employee
            </button>

            <div class="btn-group">
                <button class="btn btn-primary print" onclick="printDivs()">Print</button>

                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" style=" color: white; height:34px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <div class="dropdown-menu">
                    <span class="pdf dropdown-item" id="pdfs">View/Save as PDF</span>
                    <span class="excel dropdown-item" id="excels">Save as Excel</span>
                </div>
            </div>
        </div>
    </div>

</p>

<div>

    <table id="myTable" class="display table-bordered" style="width:100%">

        <thead>

            <tr>
                <th></th>
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Contact No.</th>
                @*<th>Created By</th>
                <th>Created Date</th>
                <th>Modified By</th>
                <th>Modified Date</th>*@
                <th>Action</th>

            </tr>


        </thead>

    </table>

</div>

<script>
    function registermodal() {
        $.get("/Patients/Register", { ActionType: "Add" }, function (result) {
            $('#datamodalbody').html(result);
            $('#datamodal').modal('show');
            btnEdit.style.display = "none";
            btnSave.style.display = "none";
        })
    }
    function registeremployee() {
        var modal = $("#datamodal");
        var form = $('form[name="addform"]');
        var name = validatename();
        var email = validateemail();
        var contact = validatecontact();
        var password = validatepassword();
        validatedesignation();
        var data = form.serialize();
        if (name && email && contact && password) {
            $.post("/Patients/Register", data, function (res) {
                if (res) {
                    toastr.options = {
                        "closeButton": true,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "200",
                        "hideDuration": "1000",
                        "timeOut": "3000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["success"]("Employee added successfully!")


                    modal.modal('hide');
                    dataTable.ajax.reload(null, false);
                }
            })
        }
    }

    function viewemployee(id) {
        $.get("/Patients/Edituser", { operation: "Edit", id: id }, function (result) {
            $('#datamodalbody').html(result);
            $('#datamodal').modal('show');
            $('.disable').attr('disabled', true);
            addsave.style.display = "none";
            document.getElementById("btnSave").disabled = true;
            $('#btnEdit').show();
            $('#btnSave').hide();
            $('#Passwordhide').hide();
        })
    }
    function viewEditemployee(id) {
        $.get("/Patients/Edituser", { operation: "Edit", id: id }, function (result) {
            $('#datamodalbody').html(result);
            $('#datamodal').modal('show');
            $('.disable').attr('disabled', false);
            addsave.style.display = "none";
            document.getElementById("btnSave").disabled = false;
            $('#btnEdit').hide();
            $('#Passwordhide').hide();
        })
    }
    function editemployee() {
        $('.disable').attr('disabled', false);
        document.getElementById("btnSave").disabled = false;
        $('#btnSave').show();
        $('#btnEdit').hide();
    }
    function updateemployee() {
        var modal = $("#datamodal");
        var form = $('form[name="addform"]');
        var name = validatename();
        var email = validateemail();
        var contact = validatecontact();
        var password = validatepassword();
        validatedesignation();
        var data = form.serialize();
        
            $.post("/Patients/Edituser", data, function (res) {
                if (res) {
                    toastr.options = {
                        "closeButton": true,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "200",
                        "hideDuration": "1000",
                        "timeOut": "3000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["success"]("Employee updated successfully!")

                    $("#datamodal").modal('hide');
                    dataTable.ajax.reload(null, false);
                }
            })
        
    }
    function viewdeleteemployee(id) {
        $.get("/Patients/Deleteuser", { id: id }, function (res) {
            if (res) {
                $('#datamodalbody').html(res);
                $('#datamodal').modal('show');
            }
        })
    }
    function Deleteemployee() {
        var modal = $("#datamodal");
        var form = $('form[name="delete"]');
        var data = form.serialize();
        $.post("/Patients/Deleteuser", data, function (res) {
            if (res) {
                toastr.options = {
                    "closeButton": true,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "3000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"]("Employee deleted successfully!")

                modal.modal('hide');
                dataTable.ajax.reload(null, false);
            }
        })
    }
    $(document).keydown(function (event) {
        if (event.keyCode == 27) {
            $('#close')[0].click();
        }
    });
</script>
<div class="modal fade" id="datamodal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document" style="margin-top:10%">
        <div class="modal-content" id="datamodalbody">

        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="printmodal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="printModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:94%;margin-left: 3%; margin-right: 3% ;margin-top:10%" role="document">

        <div class="modal-content" style="width:100%" id="printmodalcontent">
            <div class="modal-header">
                <button type="button" style="" class="close" data-dismiss="modal" id="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="printModalLabel" style="text-align:center;color:black">Patients Report</h4>

            </div>
            <div class="modal-body" id="printbody">
            </div>
        </div>
    </div>
</div>

